data_import/refi/xsd/refi/codebook-exchange.xsd

<!--

  Library:           QDA-XML version 1.0
  Release Date:      5 October 2017
  Module:            Codebook.xsd
  Generated on:      2017-10-05 16:17z
  Copyright (c) QDA-XML 2017. All Rights Reserved.
-->
<!--  ===== Copyright Notice =====  -->
<!--

QDA-XML takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on QDA-XML's 
  procedures with respect to rights in QDA-XML specifications can be 
  found at the QDA-XML website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  QDA-XML.

  QDA-XML invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to 
  QDA-XML.
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to QDA-XML, 
  except as needed for the purpose of developing QDA-XML 
  specifications, in which case the procedures for copyrights defined 
  in the Intellectual Property Rights section in the QDA-XML specification 
  must be followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by QDA-XML or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and QDA-XML DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.    
-->
<xsd:schema xmlns="urn:QDA-XML:codebook:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:QDA-XML:codebook:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
 <!--  ===== Element Declarations =====  -->
<xsd:element name="CodeBook" type="CodeBookType">
  <xsd:annotation>
    <xsd:documentation>
      This element MUST be conveyed as the root element in any instance document based on this Schema expression
    </xsd:documentation>
  </xsd:annotation>
</xsd:element>
 <!--  ===== Type Definitions =====  -->
<xsd:complexType name="CodeBookType">
  <xsd:sequence>
  <xsd:element name="Codes" type="CodesType"/>
  <xsd:element name="Sets" type="SetsType" minOccurs="0"/>
  </xsd:sequence>
  <xsd:attribute name="origin" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="CodesType">
  <xsd:sequence>
    <xsd:element name="Code" type="CodeType" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SetsType">
  <xsd:sequence>
    <xsd:element name="Set" type="SetType" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CodeType">
  <xsd:sequence>
    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
    <xsd:element name="Code" type="CodeType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="guid" type="GUIDType" use="required"/>
  <xsd:attribute name="name" type="xsd:string" use="required"/>
  <xsd:attribute name="isCodable" type="xsd:boolean" use="required"/>
  <xsd:attribute name="color" type="RGBType"/>
</xsd:complexType>

<xsd:complexType name="SetType">
  <xsd:sequence>
    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
    <xsd:element name="MemberCode" type="MemberCodeType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="guid" type="GUIDType" use="required"/>
  <xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="MemberCodeType">
  <xsd:attribute name="guid" type="GUIDType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="GUIDType">
  <xsd:restriction base="xsd:token">
    <xsd:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RGBType">
  <xsd:restriction base="xsd:token">
    <xsd:pattern value="#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})"/>
  </xsd:restriction>
</xsd:simpleType>
</xsd:schema>